


.we-are-here{
  background-image: url("./assets/circlered.png");
  background-repeat: no-repeat;
  /* background-position: 500px 150px 0 0; */
  background-position: 150px 70px;
}

.we-are-half-circle{
  background-repeat: no-repeat;
  background-image: url("./assets//half-circle.png");
  background-position: right 300px;
  /* color: #ff3e5408; */
}

@media all and (max-width:1100px)  {
  .link-gap{
    gap: 15px;
   
  }
  .link-gap li a{
    font-size: 14px;
  }
}


@media all and (max-width:1024px) {
  .we-are-here{
    background-size: 150px;
    background-position: 50px 0;
  }
  .we-are-half-circle{
    background-size: 100px;
  }
}
@media all and (max-width:768px) {
  .we-are-here{
    background-size: 100px;
    background-position: 0px 0px;
  }
  .we-are-half-circle{
    background-size: 50px;
  }
}