@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Raleway', sans-serif;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}


@media all and (max-width:1024px) {
  .container{
    padding: 0 3rem;
  }
}
@media all and (max-width:768px) {
  .container{
    padding: 0 2rem;
  }
}
@media all and (max-width:425px) {
  .container{
    padding: 0 1rem;
  }
}